# -------------------------
# HamRadio-Pi Ultimate
# Local user data
# -------------------------

config/station.json


# Backup folders
backups/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini